certifi
google-pasta
grpcio
h5py
matplotlib
numpy
oauthlib==3.1.1
opencv-contrib-python
opencv-python
ortools
pandas
Pillow==8.3.1
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools
pycosat
scikit-learn
scipy
tables
tensorboard
# tensorboard-data-server==0.6.1
# tensorboard-plugin-wit==1.8.0
tensorflow
# tensorflow-estimator==2.6.0
toml
torch
torchaudio
torchvision
torchsummary
tqdm
traitlets==5.0.5
urllib3
