google-pasta
grpcio
h5py
matplotlib
numpy
opencv-contrib-python
opencv-python
ortools
pandas
pycocotools
pycosat
scikit-learn
scipy
tables
tensorboard
# tensorboard-data-server==0.6.1
# tensorboard-plugin-wit==1.8.0
tensorflow
# tensorflow-estimator==2.6.0
toml
torch
torchaudio
torchvision
torchsummary
tqdm
urllib3
