google-pasta
grpcio
gdown
h5py
hdf5storage
matplotlib
moviepy
numpy
opencv-contrib-python
opencv-python
ortools
pandas
pycocotools
pycosat
pytube2
pylabel
scikit-learn
scipy
tables
tensorboard
# tensorboard-data-server==0.6.1
# tensorboard-plugin-wit==1.8.0
# tensorflow
# tensorflow-estimator==2.6.0
toml
torch
torchaudio
torchvision
torchsummary
tqdm
urllib3
whisperx @ git+https://github.com/m-bain/whisperx.git
